{% extends 'mainapp/base.html' %}

{% block content %}
    <h1>Продукты</h1>
    <ul>
        {% for product in products %}
            <li>
                <div>{{ product.name }}</div>
                {% if product.image %}
                <img src={{ product.image.url }}>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

<h1 class="test">Категории продуктов</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
